services:
  opensearch:
    image: opensearchproject/opensearch:3.4.0
    container_name: opensearch
    env_file:
      - dev.env
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - OPENSEARCH_JAVA_OPTS=-Xms1g -Xmx1g
      - DISABLE_SECURITY_PLUGIN=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    ports:
      - "9200:9200"
      - "9600:9600"
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://localhost:9200 >/dev/null || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 20

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: product-search-api
    env_file:
      - dev.env
    environment:
      - OPENSEARCH_HOST=opensearch
      - OPENSEARCH_PORT=9200
    gpus: all
    depends_on:
      opensearch:
        condition: service_healthy
    ports:
      - "8000:8000"
    restart: unless-stopped

volumes:
  opensearch-data: {}