-index-url https://download.pytorch.org/whl/cu128
--extra-index-url https://pypi.org/simple

ipykernel
tqdm
numpy
pandas
pyarrow
boto3
s3fs
scikit-learn
jupyterlab
torch==2.9.0
transformers
accelerate
peft
trl
datasets
evaluate
huggingface_hub
sentence-transformers==5.2.0
ranx
opensearch-py==3.1.0