ipykernel
tqdm
numpy
pandas
pyarrow
boto3
s3fs
scikit-learn
jupyterlab
torch==2.9.0
transformers
accelerate
pydantic==2.10.4
datasets
evaluate
huggingface_hub
sentence-transformers==5.2.0
ranx
opensearch-py==3.1.0